*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url()
}
.app-container{
    width: 400px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0);
    padding: 30px;
    border-radius: 20px;
}
.app-container h1{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgb(0, 191,255);
}

#length{
    width:100%;
    display: block;
    margin: 8px 0px;
    padding: 10px;
    border-radius:10px;
    border: none;
    outline: 1px solid #ccc;
}
#length:focus{
    outline: 1px solid rgb(0, 191,255);
}
.input-container,.copy-container,.button{
    margin-bottom: 20px;
}
.copy-container{
    position: relative;
}
.copy-container button{
    position: absolute;
    right: 0;
}
.copy-container input{
    width: 100%;
    border-radius: 10px;
    border: none;
    outline:  1px solid #ccc;
    padding: 10px;
}
.copy-container input:focus{
    outline: 1px solid rgb(0, 191,255);
}

.copy-container input,button{
    padding: 10px;
}
.copy-container button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 191,255);
}
input[type="checkbox"]{
    margin-right: 10px;
}
.button button{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 191,255);
}
label,.button button,button{
    text-transform: capitalize;
    font-weight: bold;
}
.button button,button{
    color: white;
}